{% extends "cvapp/base_site.html" %}
{% load i18n %}

{% block extrahead %}

<link rel="stylesheet" href="{{ STATIC_URL }}lib/angular-ui-grid/ui-grid.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}lib/nvd3/nv.d3.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}lib/cubesviewer/cubesviewer.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap-submenu/css/bootstrap-submenu.css" /> <!-- after cubesviewer.css! -->

<script src="{{ STATIC_URL }}lib/angular-ui-grid/ui-grid.js"></script>
<script src="{{ STATIC_URL }}lib/d3/d3.js"></script>
<script src="{{ STATIC_URL }}lib/nvd3/nv.d3.js"></script>
<script src="{{ STATIC_URL }}lib/flotr2/flotr2.min.js"></script>
<script src="{{ STATIC_URL }}lib/masonry/masonry.pkgd.min.js"></script>  <!-- needed for CubesViewer Studio only, not embedded views -->
<script src="{{ STATIC_URL }}lib/cubesviewer/cubesviewer.js"></script>

<script type="text/javascript">

//Initialize CubesViewer when document is ready
$(document).ready(function() {

    cubesviewerStudio.init({
        container: $('#cubesviewer').get(0),
        cubesUrl: "{{ cubesviewer_cubes_url }}",
        backendUrl: "{{ cubesviewer_backend_url }}",
        user: "{{ user.id }}"
    });

    /*
    setTimeout(function() {
        $('.cv-gui-panel').first().appendTo($('.header').parents('.row'));
        $('.cv-gui-panel').first().addClass('cv-bootstrap');
        $('.header').parents('.row').css('position', 'fixed');
        $('.header').parents('.row').css('display', 'inline-block');
        $('.header').parents('.row').css('padding-left', '20px');
        $('.header').parents('.row').css('padding-right', '20px');
        $('.header').parents('.row').css('top', '0px');
        $('.header').parents('.row').css('left', '0px');
        $('.header').parents('.row').css('right', '0px');
        $('.header').parents('.row').css('z-index', '9999');
        $('.header').parents('.row').css('background-color', 'white');
        $('.cv-gui-workspace').css('margin-top', '105px');
    }, 2000);
    */

});

</script>

{% endblock %}

{% block content %}

    <!-- Cubes Viewer container -->
    <div id="cubesviewer">
    </div>

{% endblock %}

